{% extends "./base.njk" %}

{% block content %}
    <main class="w-full px-3">
        <div class="container mx-auto  mt-12 px-3">
            <ul class=" w-full relative">
                {% for item in collections.workSorted %}
                    <li class="mb-6 w-full relative">
                        <a class="project text-black hover:text-gray-600 no-underline text-base sm:text-lg " href="{{ item.url }}">
                            <h2 class="font-normal leading-none lg:w-2/3">{{ item.data.title }}</h2>
                            <p class="font-bold text-black lg:w-2/3">{{ item.data.year }}</p>
                            <div class="project__pic hidden lg:block absolute lg:w-1/3 right-0 top-0">
                                <img class="project__img" src="/{{ item.data.cover }}" />
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}