{% extends "./base.njk" %}

{% block content %}
<main class="w-full px-3">
    <div class="container mx-auto mt-12 px-3">
        <h1 class="unseen">{{ title }}</h1>
        <div class="max-w-xl text-base tracking-normal generated">
            {{ content | safe }}
        </div>
        <div class="py-3">
            <a href="/{{download_bio}}" class="text-black hover:text-gray_500 no-underline text-base sm:text-lg uppercase leading-none font-bold" download>Download CV</a>
        </div>
</main>{% endblock %}