{% extends "./base.njk" %}

{% block content %}
    <main class="container mx-auto mt-12">
        <ul class=" w-full ">
            {% for item in collections.booksSorted %}
                <li class="mb-6 ">
                    <article class="relative flex flex-row flex-wrap">
                        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-3">
                            {% image './src/' + item.data.cover, 'block w-full h-auto', item.data.title + ' cover', "100vw, (min width 540px) 50vw, (min width 768px) 33vw, (min width 1024px) 25vw" %}
                        </div>
                        <div class="w-full sm:w-1/2 md:w-2/3 lg:w-3/4 px-3">
                            <h1 class="font-semibold text-base sm:text-lg mb-4">{{ item.data.title }}</h1>
                            {% if(item.data.texts) %}
                            <div class="pb-1">
                                <span class="uppercase text-sm">Texts: </span>{{item.data.texts}}
                            </div>
                            {% endif %}
                            {% if(item.data.language) %}
                            <div class="pb-1">
                                <span class="uppercase text-sm">Language: </span>{{item.data.language}}
                            </div>
                            {% endif %}
                            {% if(item.data.editor) %}
                            <div class="pb-1">
                                <span class="uppercase text-sm">Editor: </span>{{item.data.editor}}
                            </div>
                            {% endif %}
                            {% if(item.data.design) %}
                            <div class="pb-1">
                                <span class="uppercase text-sm">Design: </span>{{item.data.design}}
                            </div>
                            {% endif %}
                            {% if(item.data.publisher) %}
                            <div class="pb-1">
                                <span class="uppercase text-sm">Publisher: </span>{{item.data.publisher}}
                            </div>
                            {% endif %}
                            {% if(item.data.description) %}
                            <div class="pb-1">
                                {{item.data.description}}
                            </div>
                            {% endif %}            
                            {% if(item.data.isbn) %}
                            <div class="pb-1">
                                {{item.data.isbn}}
                            </div>
                            {% endif %}
                        </div>
                    </article>
                        
                        
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}