{% extends "./base.njk" %}

{% block header %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block content %}
<main class="w-full block absolute top-0 z-0 h-screen bg-center bg-cover" style="background-image:url('{{ cover }}');">
</main>
{% endblock %}