{% extends "./base.njk" %}

{% block content %}
<main class="container mx-auto mt-12 px-3">
    <h1 class="font-bold text-base sm:text-lg uppercase mb-6">{{ author }}</h1>
    <h2 class="font-bold text-base tracking-normal mb-0">{{ title }}</h2>
    <div class="max-w-xl text-base tracking-normal generated">
        {{ content | safe }}
    </div>
</main>
{% endblock %}