{% extends "./base.njk" %}

{% block content %}
    <main class="container mx-auto mt-12">
        <ul class=" w-full relative">
            {% for item in collections.textsSorted %}
                <li class="mb-6 w-full px-3">
                    <a class="text-black hover:text-gray_500 no-underline text-base sm:text-lg uppercase leading-none" href="{{ item.url }}">
                        <h2 class="font-bold xl:w-2/3 ">{{ item.data.author }}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}