{% extends "./base.njk" %}

{% block content %}
    <main class="container mx-auto mt-12">
        <ul class=" w-full relative">
            {% for item in collections.textsSorted %}
                <li class="mb-6 w-full px-3">
                    <a class="text-black hover:text-gray_500 no-underline " href="{{ item.url }}">
                        <h2 class="text-base font-bold xl:w-2/3 ">{{ item.data.title }}</h2>
                        <h3 class="text-base xl:w-2/3" >{{ item.data.author }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}